<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" aria-label="Navigation Bar">
    <div class="container-fluid">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Needs Callouts Free Company</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBar"
            aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="About"
                        class="nav-link @(ViewBag.Action == "About" ? "active" : "")"
                        aria-current="@(ViewBag.Action == "About" ? "page" : "false")">About Us</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Join"
                        class="nav-link @(ViewBag.Action == "Join" ? "active" : "")"
                        aria-current="@(ViewBag.Action == "Join" ? "page" : "false")">Join Us</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Ranks"
                        class="nav-link @(ViewBag.Action == "Ranks" ? "active" : "")"
                        aria-current="@(ViewBag.Action == "Ranks" ? "page" : "false")">Member Ranks</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Rules"
                        class="nav-link @(ViewBag.Action == "Rules" ? "active" : "")"
                        aria-current="@(ViewBag.Action == "Rules" ? "page" : "false")">Rules & Guidelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://na.finalfantasyxiv.com/lodestone/freecompany/9233645873504835379/">
                        Lodestone Page
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
